body {
    background-color: #141026;
    color: #aaa1cf;
}
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v21/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Playfair Display Italic';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_qiTXtHA-Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.positionTitle {
    font-family: Playfair Display;
    text-transform: uppercase;
    font-size: 30px;
    text-shadow: 0px 0px 1px, 1px 1px 1px black;
    text-align: center;
}
.positionNote{
    text-align:center;
}
.positionNote a {
        font-size: 17px;
        font-family: Playfair Display Italic;
        color: #a3c3e3;
}

table {
    width: 100%;
}

table, th, td {
    border: 3px groove #635c81;
}

table {
    border-collapse: collapse;
}

td {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 1px, 1px 1px 1px black;
    font-size: 14px;
    font-family: 'Playfair Display';
}

th {
    background-color: #26213e;
    text-transform: uppercase;
    font-family: 'Playfair Display';
    text-shadow: 0px 0px 1px, 1px 1px 1px black;
    color: #a3c3e3;
    padding: 4px;
}

#updateformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}



    #updateformdiv label {
        text-align: center;
        text-transform: uppercase;
        font-family: 'Playfair Display';
        text-shadow: 0px 0px 1px, 1px 1px 1px black;
        color: #c1b7ed;
        font-size: 13px;
        margin-top: 2px;
    }

#formdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

button {
    margin: 2px;
    padding: 3px;
    background-color: #0d0814;
    border-radius: 120px;
    border: 2px solid #1f1b2c;
    color: #9797e5;
    text-transform: uppercase;
    font-family: 'Playfair Display';
    text-shadow: 0px 0px 1px, 1px 1px 1px black;
    font-size: 14px;
}

#formdiv label {
        text-align: center;
        text-transform: uppercase;
        font-family: 'Playfair Display';
        text-shadow: 0px 0px 1px, 1px 1px 1px black;
        color: #c1b7ed;
        font-size: 13px;
        margin-top: 2px;
    }

table button {
    padding: 1px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    text-decoration-style: wavy;
    font-size: 21px;
    font-style: italic;
}
input {
    background-color: #26213e;
    border: 2px solid #473f6a;
    border-right: 2px solid #2c264a;
    border-radius: 120px;
    margin: 0px;
    border-bottom: 2px solid #363344;
    padding: 2px;
    color: #aaa1cf;
}